<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Add</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <style>
    .am-form .am-tagsinput {
      min-width: 100%;
    }
  </style>
</head>
<body>
  <ul class="am-nav am-nav-pills">
    <li><a href="/">首页</a></li>
    <li class="am-active"><a href="add">添加招领信息</a></li>
  </ul>

  <form class="am-form am-form-horizontal" action="add" method="post">
    <legend align="center">拾取单</legend>
    <div class="am-form-group">
      <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">标题</label>
      <div class="am-u-sm-10">
        <input type="text"  placeholder="输入你的标题" name="title">
      </div>
    </div>


    <div class="am-form-group">
      <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">联系方式</label>
      <div class="am-u-sm-10">
        <input type="text" placeholder="给个微信吧" name="contact">
      </div>
    </div>

    <div class="am-form-group">
      <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">描述</label>
      <div class="am-u-sm-10">
        <textarea rows="5" name="descripthon"></textarea>
      </div>
    </div>


    <div class="am-form-group">
      <div class="am-u-sm-10 am-u-sm-offset-2">
        <button type="submit" class="am-btn am-btn-default">提交</button>
      </div>
    </div>
  </form>

  <footer data-am-widget="footer"
          class="am-footer am-footer-default"
           data-am-footer="{  }">
    <div class="am-footer-miscs ">
        <p>由 罗霄 提供技术支持</p>
        <p>CopyRight©2016  PKUSS Inc.</p>
        <p>京ICP备2147483647</p>
    </div>
  </footer>

<!--在这里编写你的代码-->
<!--[if (gte IE 9)|!(IE)]><!-->
<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="assets/css/amazeui.tagsinput.css"/>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.tagsinput.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
</body>

</html>
