<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/weui/dist/style/weui.min.css"/>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="weui_cells_title">绑定并登陆</div>

<form class="form-horizontal" id="sample-form" method="post">
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">用户名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="username"  name="username"  placeholder="请输入邮箱">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="password"  name="password" type="password" placeholder="请输入密码">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">授权码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="authcode"  name="authcode" type="authcode" placeholder="请输入授权码，请到对应邮箱的设置面板获取">
        </div>
    </div>
    <button type="button submit" id="login" class="weui_btn weui_btn_primary">
        <span class="bigger-110">确定</span>
    </button>
</div>
</form>
</body>
<script  type="text/javascript">

</script>
</html>