<%include header.ejs%>
<div class="hd">
  <h1 class="page_title">故障报修&送水</h1>
</div>
<div>
  <a class="weui_btn weui_btn_primary" href='/water'>送水</a>
  <a class="weui_btn weui_btn_primary" href='/fix' >故障报修</a>
</div>
<%include footer.ejs%>
