<%include header.ejs%>
<div class="hd">
  <h1 class="page_title">送水</h1>
</div>
<div class="weui_cells weui_cells_form">
  <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">宿舍号</label></div>
      <div class="weui_cell_bd weui_cell_primary">
          <input id="water_domId" class="weui_input" type="text"
          placeholder="如：13#e2414" value='<%=domId%>' required="required">
      </div>
  </div>
  <div class="weui_cells">
    <div class="weui_cell weui_cell_select weui_select_after">
      <div class="weui_cell_hd"><label class="weui_label">品牌</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <select class="weui_select" id="water_brand">
              <option selected="" value="香山农泉">香山农泉</option>
              <option value="景田">景田</option>
          </select>
        </div>
      </div>
      <!-- <div class="weui_cell_hd"><label class="weui_label">品牌</label></div>
      <div class="weui_cell_bd weui_cell_primary">
          <input id="water_brand" class="weui_input" type="text" placeholder="如：香山农泉" required="required">
      </div> -->
  </div>
  <div class="weui_cell">
    <div class="weui_cell_hd"><label class="weui_label">备注</label></div>
      <div class="weui_cell_bd weui_cell_primary">
          <textarea id="water_extra" class="weui_textarea" placeholder="..." rows="3"></textarea>
      </div>
  </div>
</div>
<div class="weui_btn_area">
  <a id='btn_water_ok' class="weui_btn weui_btn_primary">确定</a>
</div>

  <div class="weui_dialog_alert" id="water_opt_info" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">操作提示</strong></div>
        <div id="water_opt_res" class="weui_dialog_bd">信息发送成功</div>
        <div class="weui_dialog_ft">
            <a class="weui_btn_dialog primary" href='/main'>返回</a>
        </div>
    </div>
</div>
<%include footer.ejs%>
