<%- include header %>
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<form method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="title" placeholder="书名">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="author" placeholder="作者">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="owner" placeholder="书主">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="phone" placeholder="联系方式">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="content" placeholder="内容描述或感想"></textarea>
				</div>
				<button type="submit" class="btn btn-default center-block">上传</button>
			</form>
		</div>
	</div>
</div>
<%- include footer %>