<header id="header" class="main-page-header">
    <div class="main-page-header-nav" onclick="toggleClick()" >
        <img src="./images/nav-left-btn.png">
    </div>
    <div class="main-page-header-title">
        {{header}}
    </div>
    <div class="main-page-header-post">
        {{}}
    </div>
</header>