<nav id="menu" class="menu">
    <a>
        <header class="menu-header">
            <!--<span class="menu-header-title">-->
            <!--</span>-->
                <img class="menu-header-icon" ng-src="{{user.headimgurl}}">
                <label class="menu-header-title">{{user.nickname}}</label>
        </header>
    </a>

    <section class="menu-section">
        <h3 class="menu-section-title"></h3>
        <ul class="menu-section-list">
            <li><a id = "allTopic" href="/listPage/all" target="mainBodyFrame" ng-click="topics('全部活动')">全部活动</a></li>
            <li><a href="/listPage/hot" target="mainBodyFrame" ng-click="topics('热门活动')">热门活动</a></li>
            <li><a href="/listPage/my" target="mainBodyFrame" ng-click="topics('我发起的')">我发起的</a></li>
            <li><a href="/listPage/join" target="mainBodyFrame" ng-click="topics('我参与的')">我参与的</a></li>
            <li><a href="/new" target="mainBodyFrame" ng-click="topics('发起活动')">发起活动</a></li>
            <!--<li><a href="/topic1" target="mainBodyFrame" >发起活动</a></li>-->
        </ul>
        <h3 class="menu-section-title"></h3>
        <ul>

        </ul>
    </section>
</nav>